---
const { title } = Astro.props;
const { description } = Astro.props;
const { url } = Astro.props;
const year = new Date().getFullYear()
---
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content={description} />
	<title>{title}</title>
	<link rel="canonical" href={url} />
	<meta property="og:type" content="website">
	<meta property="og:url" content="{url}">
	<meta property="og:title" content="{title}">
	<meta property="og:description"
		content="{description}">
	<!-- <meta property="og:image"
		content=""> -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="{url}">
	<meta property="twitter:title" content="{title}">
	<meta property="twitter:description"
		content="{description}">
	<!-- <meta property="twitter:image"
		content=""> -->
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/assets/css/style.css" rel="stylesheet" />
</head>

<body>
	<header class="d-flex align-items-center p-4 mb-2 border-bottom bg-white">
		<div class="container">
			<a href="/" class="d-flex align-items-center text-dark text-decoration-none">
				<img src="/img/desktools-logo.png" width="180" alt="" />
			</a>
		</div>
	</header>

	<div class="container my-4 p-4 py-md-5">
		<slot />
	</div>

	<footer class="p-5 text-muted border-top bg-white">
		<div class="container d-flex justify-content-between">
			<p>Created By Noel &copy; &middot; {year} &middot; <a href="https://noeldesigner.com">noeldesigner.com</a>
			</p>
			<p><a href="/privacy-policy">Privacy Policy</a></p>
		</div>
	</footer>

	<script async src="https://www.googletagmanager.com/gtag/js?id=G-JZGKT437B2"></script>
	
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'G-JZGKT437B2');
	</script>
</body>

</html>